flask-ckeditor
pymongo
flask
pyfiglet
flask_cors
mysql-connector-python
openai
bs4
wtforms
habanero
selenium 
webdriver-manager
undetected-chromedriver
lxml
stem
fake_useragent
pandas
matplotlib
seaborn
networkx
mpld3
bibtexparser
scikit-learn
squarify