<html lang="en">
  <head>
    {% include 'template/head.html' %}
    {% include 'pages/'+page+'/style.html' %}
    {% include 'template/script.html' %}
    <title>{{ title }}</title>
  </head>
  <body class="nav-md" style="background: white;">
    <div class="container body">
      <div class="main_container">  
         
        {% include 'template/navbar.html' %}
        <div class="row" style="padding-left: 5%; padding-right: 5%;">
        <div class="col-md-12" role="main" style="min-height: 100% !important"> 
          <center><span style="font-size: 38px; color: black; font-weight: bold;">ASSISTANT-PROFESSOR</span></a></center> 
          {% include 'pages/'+page+'/'+view_file+'.html' %}
          <div class="clearfix"></div>
        </div>
      </div>
      </div>
    </div>
    {% include 'pages/'+page+'/script.html' %}
  </body>
</html>
