    <!-- jQuery -->
    <script src="{{ url_for('static', filename='assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ url_for('static', filename='assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{{ url_for('static', filename='assets/build/js/custom.min.js') }}"></script>

    <script type="text/javascript">
        var root = 'http://34.135.234.149:5000'
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>