
<div class="row">  
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <p style="width: 100%; color: black; overflow-wrap: break-word; font-size: 20px;"><a href="{{ url_for('literature_review') }}" class="btn btn-info btn-sms" style="font-size: 12px"><i class="fa fa-arrow-left"></i> Back</a><br>{{ title }} : {{ output['data'][1] }}</p>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="container bootdey">
      <div class="email-app">
        {% include 'pages/literature_review/menu.html' %}
          <main>
              <h2 style="color: black;">Automation Status <button id="start_automation_all" style="float:right" class="btn btn-success btn-sm">Start/Restart All Proccess</button></h2>
              <input type="hidden" class="form-control" id="input_research_id" value="{{ id }}">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Section Name</th>
                    <th scope="col" style="text-align: center;">Definition Process</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td style="text-align: center;">
                    <button id="start_automation_literature" class="btn btn-warning btn-sm">Restart Automation Literature</button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Introduction</td>
                    <td style="text-align: center;">
                    {% if output['status']['introduction'] == True %}
                      <i class="fa fa-check"></i>
                    {% else %}
                      -
                    {% endif %}
                    </td>

                    <!-- <td><button type="button" class="btn btn-success btn-sms" style="font-size: 12px">Restart</button><button type="button" class="btn btn-warning btn-sms" style="font-size: 12px">Continue</button></td> -->
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Literature Study</td>
                    <td style="text-align: center;">
                    {% if output['status']['literature'] == True %}
                      <i class="fa fa-check"></i>
                    {% else %}
                      -
                    {% endif %}
                    </td>
    
                    </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Research Methods</td>
                    <td style="text-align: center;">
                    {% if output['status']['methodology'] == True %}
                      <i class="fa fa-check"></i>
                    {% else %}
                      -
                    {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Literature Crawling</td>
                    <td style="text-align: center;">
                      {{ output['status']['total_process_references'] }}/{{ output['status']['total_references'] }}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td style="text-align: center;">
                    <button id="start_automation_paper" class="btn btn-warning btn-sm">Restart Automation Paper</button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Digital Library Crawling</td>
                    <td style="text-align: center;"></td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>IEEE</td>
                    <td style="text-align: center;">
                      {{ output['status']['total_process_slr_iee'] }}/{{ output['status']['total_slr_iee'] }}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Science Direct</td>
                    <td style="text-align: center;">
                      {{ output['status']['total_process_slr_sd'] }}/{{ output['status']['total_slr_sd'] }}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>ACM Digital Library</td>
                    <td style="text-align: center;">
                      {{ output['status']['total_process_slr_acm'] }}/{{ output['status']['total_slr_acm'] }}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Download Bibtex</td>
                    <td style="text-align: center;">
                      {{ output['status']['total_process_bibtex'] }}/{{ output['status']['total_bibtex'] }}
                    </td>
                  </tr>
                </tbody>
              </table>

          </main>
      </div>
    </div>
    </div>
    <!-- XPANEL -->
  </div>
  <!-- COL-12 -->
</div>
<!-- ROW -->
