<style>
  table, th, td {
    border:1px solid black;
    color: black;
  }
</style>
<script src="{{ url_for('static', filename='assets/release/go.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
  <style>
    canvas {
      max-width: 800px;
      margin: 0 auto;
    }
  </style>
<div class="row">  
    <div class="col-md-12 col-sm-12 ">
      <div class="x_panel">
        <div class="x_title">
          <p style="width: 100%; color: black; overflow-wrap: break-word; font-size: 20px;"><a href="{{ url_for('literature_review') }}" class="btn btn-info btn-sms" style="font-size: 12px"><i class="fa fa-arrow-left"></i> Back</a><br>{{ title }} : {{ output['data'][1] }}</p>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  
      <div class="container bootdey">
        <div class="email-app">
            {% include 'pages/literature_review/menu.html' %}
            <main>  
              <nav class="nav nav-tabs">
                <a class="nav-link active" href="{{ url_for('literature_review_bb_resume', id=id) }}">Bibliometric Resume</a>
                <a class="nav-link" href="{{ url_for('literature_review_bb_author', id=id) }}">SNA Author</a>
                <a class="nav-link" href="{{ url_for('literature_review_bb', id=id) }}">SNA Keyword</a>
              </nav>
                
              <br><br>
              <div id="sample">
                <input type="hidden" class="form-control" id="input_research_id" value="{{ id }}">
                {% if(output['research']['diagram_per_year']) %}
                <button id="save_bibliometric_diagram_all" class="btn-lg btn-success">Let's Bibliometric Analysis</button><br><br>
                <p><strong style="font-size: 28px;">PRISMA Diagram</strong>&nbsp;&nbsp;
                {% else %}
                <button id="save_bibliometric_diagram" class="btn-lg btn-success">Sorry, You Dont Have Any Data. So, Get Data</button>
                {% endif %}
                <button id="SaveButton" onclick="save()" hidden>Save</button>
                <button onclick="load()" hidden>Load</button>
                </p>
                <div class="myFlowchart" style="width:800px; white-space:nowrap;">
                  <span style="width:80%">
                    <div id="myDiagramDiv" style="height: 500px"></div>
                  </span>
                </div>
                <textarea id="mySavedModel" style="width:100%;height:300px" hidden>{{ output['research']['string_flowchart'] }}
                </textarea>
                <div>
                </div>
                <div id="out_image"></div>
              </div>
              {% if(output['research']['diagram_per_year']) %}
              <table style="font-size: 14px; padding:5px;  margin:10px">
                <tr>
                  <th style="text-align: center;">Source</th>
                  <th style="text-align: center;">Identification</th>
                  <th style="text-align: center;">Screening</th>
                  <th style="text-align: center;">Eligibility</th>
                  <th style="text-align: center;">Included</th>
                </tr>
                {% for _ in output['research']['per_stages'] %}
                <tr>
                  <td>{{ _ }}</td>
                  <td style="text-align: center;">{{ output['research']['per_stages'][_]['Stage 1'] }}</td>
                  <td style="text-align: center;">{{ output['research']['per_stages'][_]['Stage 3'] }}</td>
                  <td style="text-align: center;">{{ output['research']['per_stages'][_]['Stage 4'] }}</td>
                  <td style="text-align: center;">{{ output['research']['per_stages'][_]['Stage 5'] }}</td>
                </tr>
                {% endfor %}
              </table>
              <p><strong style="font-size: 28px;">Per Year Diagram</strong></p>
              <img src="{{ output['research']['diagram_per_year'] }}" alt="Your Image">
              <table style="font-size: 14px; padding:5px;  margin:10px">

                <tr>
                  <th>Source</th>
                  {% for __ in output['research']['per_year']['year'] %}
                  <th>{{ __ }}</th>
                  {% endfor %}
                </tr> 
                <tr>
                  <td>Count</td>
                  {% for __ in output['research']['per_year']['data']['all'] %}
                  <td>{{ output['research']['per_year']['data']['all'][__] }}</td>
                  {% endfor %}
                </tr>
              </table>
              {% endif %}
 
                

              {% if(output['research']['diagram_per_year_paper']) %}
              <p><strong style="font-size: 28px;">Per Year Per Source Diagram</strong></p>
              <img src="{{ output['research']['diagram_per_year_paper'] }}" alt="Your Image">
              <table style="font-size: 14px;padding:5px;  margin:10px">

                <tr>
                  <th>Source</th>
                  {% for __ in output['research']['per_year']['year'] %}
                  <th>{{ __ }}</th>
                  {% endfor %}
                </tr>
                
                {% for __ in output['research']['per_year']['data'] %}
                <tr>
                  <td>{{ __ }}</td>
                  {% for _ in output['research']['per_year']['year'] %}
                  <td style="text-align: center;">{{ output['research']['per_year']['data'][__][_] }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </table>
              {% endif %}
              
              
              {% if(output['research']['diagram_per_source']) %}
              <p><strong style="font-size: 28px;">Per Source Diagram</strong></p>
              <img src="{{ output['research']['diagram_per_source'] }}" alt="Your Image">
              <table style="font-size: 14px; padding:5px;  margin:10px">
                <tr>
                  <th>Source</th>
                  {% for _ in output['research']['per_publisher'] %}
                  <th>{{ _ }}</th>
                  {% endfor %}
                </tr>
              
                <tr>
                  <td>Total</td>
                  {% for _ in output['research']['per_publisher'] %}
                  <td style="text-align:center">{{ output['research']['per_publisher'][_] }}</td>
                  {% endfor %}
                </tr>
              </table>
              {% endif %}

              {% if(output['research']['diagram_per_author']) %}
              <p><strong style="font-size: 28px;">Top 10 Author</strong></p>
              <img src="{{ output['research']['diagram_per_author'] }}" alt="Your Image">
              <table style="font-size: 14px; padding:5px;  margin:10px">
                <tr>
                  {% for _ in output['research']['per_author']['columns'] %}
                  <th>{{ _ }}</th>
                  {% endfor %}
                </tr>
              
                {% for _ in output['research']['per_author']['data'] %}
                <tr>
                  {% for __ in _%}
                  <td>{{ __ }}</td>
                  {% endfor %}
                  
                </tr>
                {% endfor %}
                
              </table> 
              {% endif %}
  
              {% if(output['research']['diagram_per_keyword']) %}
              <p><strong style="font-size: 28px;">Per Keyword Diagram</strong></p>
              <img src="{{ output['research']['diagram_per_keyword'] }}" alt="Your Image">
              <table style="font-size: 14px; padding:5px;  margin:10px">
                <tr>
                  {% for _ in output['research']['per_keyword']['columns'] %}
                  <th>{{ _ }}</th>
                  {% endfor %}
                </tr>
              
                {% for _ in output['research']['per_keyword']['data'] %}
                <tr>
                  {% for __ in _%}
                  <td>{{ __ }}</td>
                  {% endfor %}
                  
                </tr>
                {% endfor %}
                
              </table> 
              {% endif %}
              
  
              {% if(output['research']['diagram_sna_keyword']) %}
              <br><br>
              <p><strong style="font-size: 28px;">Keyword Social Network Analysis</strong></p>
              <img src="{{ output['research']['diagram_sna_keyword'] }}" width="80%" alt="Your Image">    
              {% endif %} 
        
              
              {% if output['research']['per_journal'] != null %}
              <p><strong style="font-size: 28px;">All Detail Bibliometric</strong></p>
              <div class="container" style="color:black; font-size:14px">

                <details>
                    <summary>Keyword Search</summary>
                  <div>
                    <table style="font-size: 14px; width: 80%; padding:5px; margin:10px">
                      <tr>
                        <th>Source</th>
                        <th>Keyword</th>
                      </tr>
                      {% for _ in output['research']['result_keyword'] %}
                      <tr>
                        <td>{{ _ }}</td>
                        <td>{{ output['research']['result_keyword'][_] }}</td>
                      </tr>
                      {% endfor %}
                    </table>
                  </div>
                </details>
                <br>
                <details>
                    <summary>Research Stages</summary>
                    <div>
                      <table style="font-size: 14px; width: 80%; padding:5px;  margin:10px">
                        <tr>
                          <th style="text-align: center;">Source</th>
                          <th style="text-align: center;">Identification</th>
                          <th style="text-align: center;">Screening</th>
                          <th style="text-align: center;">Eligibility</th>
                          <th style="text-align: center;">Included</th>
                        </tr>
                        {% for _ in output['research']['per_stages'] %}
                        <tr>
                          <td>{{ _ }}</td>
                          <td style="text-align: center;">{{ output['research']['per_stages'][_]['Stage 1'] }}</td>
                          <td style="text-align: center;">{{ output['research']['per_stages'][_]['Stage 3'] }}</td>
                          <td style="text-align: center;">{{ output['research']['per_stages'][_]['Stage 4'] }}</td>
                          <td style="text-align: center;">{{ output['research']['per_stages'][_]['Stage 5'] }}</td>
                        </tr>
                        {% endfor %}
                      </table>
                    </div>
                </details>
                <br>
                <details>
                  <summary>Primary Study</summary>
                  <div>
                    <table style="font-size: 14px; width: 80%; padding:5px;  margin:10px">
                      <tr>
                        <th>Journal</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Source</th>
                        <!-- <th>Number Citation</th> -->
                      </tr>
                      {% for _ in output['research']['per_journal'] %}
                      {% for __ in output['research']['per_journal'][_] %}
                      <tr>
                        <td>{{ _ }}</td>
                        <td>{{ output['research']['per_journal'][_][__]['title'] }}</td>
                        <td>{{ output['research']['per_journal'][_][__]['year'] }}</td>
                        <td>{{ output['research']['per_journal'][_][__]['source'] }}</td>
                      </tr>
                      {% endfor %}
                      {% endfor %}
                    </table>
                  </div>
                </details>

                <br>
                <details>
                  <summary>Research Per Year/Source</summary>
                  <div>
                    <table style="font-size: 14px; width: 80%; padding:5px;  margin:10px">

                      <tr>
                        <th>Source</th>
                        {% for __ in output['research']['per_year']['year'] %}
                        <th>{{ __ }}</th>
                        {% endfor %}
                      </tr>
                      
                      {% for __ in output['research']['per_year']['data'] %}
                      <tr>
                        <td>{{ __ }}</td>
                        {% for _ in output['research']['per_year']['year'] %}
                        <td style="text-align: center;">{{ output['research']['per_year']['data'][__][_] }}</td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </table>
                  </div>
                </details>

                <br>
                <details>
                  <summary>Research Per Source</summary>
                  <div>
                    <table style="font-size: 14px; width: 80%; padding:5px;  margin:10px">
                      <tr>
                        <th>Source</th>
                        {% for _ in output['research']['per_publisher'] %}
                        <th>{{ _ }}</th>
                        {% endfor %}
                      </tr>
                    
                      <tr>
                        <td>Total</td>
                        {% for _ in output['research']['per_publisher'] %}
                        <td style="text-align:center">{{ output['research']['per_publisher'][_] }}</td>
                        {% endfor %}
          
                      </tr>
                    </table>
                  </div>
                </details>


                <br>
                <details>
                  <summary>Top Journal</summary>
                  <div>
                    <table style="font-size: 14px; width: 80%; padding:5px;  margin:10px">
                      <tr>
                        {% for _ in output['research']['per_scimagojr']['columns'] %}
                        <th>{{ _ }}</th>
                        {% endfor %}
                      </tr>
                    
                      {% for _ in output['research']['per_scimagojr']['data'] %}
                      <tr>
                        {% for __ in _%}
                        <td>{{ __ }}</td>
                        {% endfor %}
                        
                      </tr>
                      {% endfor %}
                      
                    </table>
                  </div>
                </details>

                <br>
                <details>
                  <summary>Top Citation Hit</summary>
                  <div>
                    <table style="font-size: 14px; width: 80%; padding:5px;  margin:10px">
                      <tr>
                        {% for _ in output['research']['per_citiedby']['columns'] %}
                        <th>{{ _ }}</th>
                        {% endfor %}
                      </tr>
                    
                      {% for _ in output['research']['per_citiedby']['data'] %}
                      <tr>
                        {% for __ in _%}
                        <td>{{ __ }}</td>
                        {% endfor %}
                        
                      </tr>
                      {% endfor %}
                      
                    </table>    
                  </div>
                </details>

                <br>
                <details>
                  <summary>Top Keyword</summary>
                  <div>
                    <table style="font-size: 14px; width: 80%; padding:5px;  margin:10px">
                      <tr>
                        {% for _ in output['research']['per_keyword']['columns'] %}
                        <th>{{ _ }}</th>
                        {% endfor %}
                      </tr>
                    
                      {% for _ in output['research']['per_keyword']['data'] %}
                      <tr>
                        {% for __ in _%}
                        <td>{{ __ }}</td>
                        {% endfor %}
                        
                      </tr>
                      {% endfor %}
                      
                    </table>    
                  </div>
                </details>

                <br>
                <details>
                  <summary>Top Author</summary>
                  <div>
                    <table style="font-size: 14px; width: 80%; padding:5px;  margin:10px">
                      <tr>
                        {% for _ in output['research']['per_author']['columns'] %}
                        <th>{{ _ }}</th>
                        {% endfor %}
                      </tr>
                    
                      {% for _ in output['research']['per_author']['data'] %}
                      <tr>
                        {% for __ in _%}
                        <td>{{ __ }}</td>
                        {% endfor %}
                        
                      </tr>
                      {% endfor %}
                      
                    </table>   
                  </div>
                </details>
                
                </div>  
                
                {% endif %}
              
            </main>
            
        </div>
      </div>
      </div>
      <!-- XPANEL -->
    </div>
    <!-- COL-12 -->
  </div>
  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

  <script>
    $(document).on("click",'#save_bibliometric_diagram',function(){
        html2canvas($(".myFlowchart")[0]).then((canvas) => {
            var imgData = canvas.toDataURL('image/png');
            var id = $("#input_research_id"). val();
            $('.float-message-wait').show();
            $.ajax({
              type: "POST",
              url: root+'/literature_review/slr/bibliometric_update',
              data: {'id':id,'img_data': imgData},
              success: function(response) {
                location.reload();
                $('.float-message-wait').hide();
                $('.float-message-success').show();
                setTimeout(() => { $('.float-message-success').hide(); }, 5000);
                location.reload();
              }
            });
      });
    });
    $(document).on("click",'#save_bibliometric_diagram_all',function(){
        html2canvas($(".myFlowchart")[0]).then((canvas) => {
            var imgData = canvas.toDataURL('image/png');
            var id = $("#input_research_id"). val();
            $('.float-message-wait').show();
            $.ajax({
              type: "POST",
              url: root+'/literature_review/slr/bibliometric_update_all',
              data: {'id':id,'img_data': imgData},
              success: function(response) {
                $('.float-message-wait').hide();
                $('.float-message-success').show();
                setTimeout(() => { $('.float-message-success').hide(); }, 5000);
                location.reload();
              }
            });
      });
    });
    function init() {
    if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
    var $ = go.GraphObject.make;  // for conciseness in defining templates

    myDiagram =
      $(go.Diagram, "myDiagramDiv",  // must name or refer to the DIV HTML element
        {
          initialContentAlignment: go.Spot.Center,
          allowDrop: true,  // must be true to accept drops from the Palette
          "LinkDrawn": showLinkLabel,  // this DiagramEvent listener is defined below
          "LinkRelinked": showLinkLabel,
          "animationManager.duration": 800, // slightly longer than default (600ms) animation
          "undoManager.isEnabled": true  // enable undo & redo
        });

    // when the document is modified, add a "*" to the title and enable the "Save" button
    myDiagram.addDiagramListener("Modified", function(e) {
      var button = document.getElementById("SaveButton");
      if (button) button.disabled = !myDiagram.isModified;
      var idx = document.title.indexOf("*");
      if (myDiagram.isModified) {
        if (idx < 0) document.title += "*";
      } else {
        if (idx >= 0) document.title = document.title.substr(0, idx);
      }
    });

    // helper definitions for node templates

    function nodeStyle() {
      return [
        // The Node.location comes from the "loc" property of the node data,
        // converted by the Point.parse static method.
        // If the Node.location is changed, it updates the "loc" property of the node data,
        // converting back using the Point.stringify static method.
        new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
        {
          // the Node.location is at the center of each node
          locationSpot: go.Spot.Center,
          //isShadowed: true,
          //shadowColor: "#888",
          // handle mouse enter/leave events to show/hide the ports
          mouseEnter: function (e, obj) { showPorts(obj.part, true); },
          mouseLeave: function (e, obj) { showPorts(obj.part, false); }
        }
      ];
    }

    // Define a function for creating a "port" that is normally transparent.
    // The "name" is used as the GraphObject.portId, the "spot" is used to control how links connect
    // and where the port is positioned on the node, and the boolean "output" and "input" arguments
    // control whether the user can draw links from or to the port.
    function makePort(name, spot, output, input) {
      // the port is basically just a small circle that has a white stroke when it is made visible
      return $(go.Shape, "Circle",
               {
                  fill: "transparent",
                  stroke: null,  // this is changed to "white" in the showPorts function
                  desiredSize: new go.Size(8, 8),
                  alignment: spot, alignmentFocus: spot,  // align the port on the main Shape
                  portId: name,  // declare this object to be a "port"
                  fromSpot: spot, toSpot: spot,  // declare where links may connect at this port
                  fromLinkable: output, toLinkable: input,  // declare whether the user may draw links to/from here
                  cursor: "pointer"  // show a different cursor to indicate potential link point
               });
    }

    // define the Node templates for regular nodes

    var lightText = 'whitesmoke';

    myDiagram.nodeTemplateMap.add("",  // the default category
      $(go.Node, "Spot", nodeStyle(),
        // the main object is a Panel that surrounds a TextBlock with a rectangular Shape
        $(go.Panel, "Auto",
          $(go.Shape, "Rectangle",
            { width: "20", fill: "#FFFFFF", stroke: "black" },
            new go.Binding("figure", "figure")),
          $(go.TextBlock,
            {
              text: "alignment: Center",
              font: "bold 9pt Helvetica, Arial, sans-serif",
              stroke: "black",
              margin: 8,
              maxSize: new go.Size(160, NaN),
              wrap: go.TextBlock.WrapFit,
              editable: true
            },
            new go.Binding("text").makeTwoWay())
        ),
        // four named ports, one on each side:
        makePort("T", go.Spot.Top, false, true),
        makePort("L", go.Spot.Left, true, true),
        makePort("R", go.Spot.Right, true, true),
        makePort("B", go.Spot.Bottom, true, false)
      ));

    myDiagram.nodeTemplateMap.add("Start",
      $(go.Node, "Spot", nodeStyle(),
        $(go.Panel, "Auto",
          $(go.Shape, "Circle",
            { minSize: new go.Size(40, 40), fill: "#79C900", stroke: null }),
          $(go.TextBlock, "Start",
            { font: "bold 11pt Helvetica, Arial, sans-serif", stroke: lightText },
            new go.Binding("text"))
        ),
        // three named ports, one on each side except the top, all output only:
        makePort("L", go.Spot.Left, true, false),
        makePort("R", go.Spot.Right, true, false),
        makePort("B", go.Spot.Bottom, true, false)
      ));
  
    myDiagram.nodeTemplateMap.add("Yellowish",
      $(go.Node, "Spot", nodeStyle(),
        $(go.Panel, "Auto",
          $(go.Shape, "Rectangle", { width: "20", height: "5", margin: 4, fill: null }),
          $(go.TextBlock, "Start",
            { font: "bold 11pt Helvetica, Arial, sans-serif", stroke: "black" },
            new go.Binding("text"))
        ),
        // three named ports, one on each side except the top, all output only:
        makePort("L", go.Spot.Left, true, false),
        makePort("R", go.Spot.Right, true, false),
        makePort("B", go.Spot.Bottom, true, false)
      ));

    myDiagram.nodeTemplateMap.add("End",
      $(go.Node, "Spot", nodeStyle(),
        $(go.Panel, "Auto",
          $(go.Shape, "Circle",
            { minSize: new go.Size(40, 40), fill: "#DC3C00", stroke: null }),
          $(go.TextBlock, "End",
            { font: "bold 11pt Helvetica, Arial, sans-serif", stroke: lightText },
            new go.Binding("text"))
        ),
        // three named ports, one on each side except the bottom, all input only:
        makePort("T", go.Spot.Top, false, true),
        makePort("L", go.Spot.Left, false, true),
        makePort("R", go.Spot.Right, false, true)
      ));

    myDiagram.nodeTemplateMap.add("Comment",
      $(go.Node, "Auto", nodeStyle(),
        $(go.Shape, "File",
          { fill: "#EFFAB4", stroke: null }),
        $(go.TextBlock,
          {
            margin: 5,
            maxSize: new go.Size(200, NaN),
            wrap: go.TextBlock.WrapFit,
            textAlign: "center",
            editable: true,
            font: "bold 12pt Helvetica, Arial, sans-serif",
            stroke: '#454545'
          },
          new go.Binding("text").makeTwoWay())
        // no ports, because no links are allowed to connect with a comment
      ));


    // replace the default Link template in the linkTemplateMap
    myDiagram.linkTemplate =
      $(go.Link,  // the whole link panel
        {
          routing: go.Link.AvoidsNodes,
          curve: go.Link.JumpOver,
          corner: 5, toShortLength: 4,
          relinkableFrom: true,
          relinkableTo: true,
          reshapable: true,
          resegmentable: true,
          // mouse-overs subtly highlight links:
          mouseEnter: function(e, link) { link.findObject("HIGHLIGHT").stroke = "rgba(30,144,255,0.2)"; },
          mouseLeave: function(e, link) { link.findObject("HIGHLIGHT").stroke = "transparent"; }
        },
        new go.Binding("points").makeTwoWay(),
        $(go.Shape,  // the highlight shape, normally transparent
          { isPanelMain: true, strokeWidth: 8, stroke: "transparent", name: "HIGHLIGHT" }),
        $(go.Shape,  // the link path shape
          { isPanelMain: true, stroke: "gray", strokeWidth: 2 }),
        $(go.Shape,  // the arrowhead
          { toArrow: "standard", stroke: null, fill: "gray"}),
        $(go.Panel, "Auto",  // the link label, normally not visible
          { visible: false, name: "LABEL", segmentIndex: 2, segmentFraction: 0.5},
          new go.Binding("visible", "visible").makeTwoWay(),
          $(go.Shape, "RoundedRectangle",  // the label shape
            { fill: "#F8F8F8", stroke: null }),
          $(go.TextBlock, "Yes",  // the label
            {
              textAlign: "center",
              font: "10pt helvetica, arial, sans-serif",
              stroke: "#333333",
              editable: true
            },
            new go.Binding("text").makeTwoWay())
        )
      );

    // Make link labels visible if coming out of a "conditional" node.
    // This listener is called by the "LinkDrawn" and "LinkRelinked" DiagramEvents.
    function showLinkLabel(e) {
      var label = e.subject.findObject("LABEL");
      if (label !== null) label.visible = (e.subject.fromNode.data.figure === "Diamond");
    }

    // temporary links used by LinkingTool and RelinkingTool are also orthogonal:
    myDiagram.toolManager.linkingTool.temporaryLink.routing = go.Link.Orthogonal;
    myDiagram.toolManager.relinkingTool.temporaryLink.routing = go.Link.Orthogonal;

    load();  // load an initial diagram from some JSON text

    // initialize the Palette that is on the left side of the page
    myPalette =
      $(go.Palette, "myPaletteDiv",  // must name or refer to the DIV HTML element
        {
          "animationManager.duration": 800, // slightly longer than default (600ms) animation
          nodeTemplateMap: myDiagram.nodeTemplateMap,  // share the templates used by myDiagram
          model: new go.GraphLinksModel([  // specify the contents of the Palette
            { category: "Start", text: "Start" },
            { text: "Step" },
            { text: "???", figure: "Diamond" },
            { category: "End", text: "End" },
            { category: "Comment", text: "Comment" }
          ])
        });

    // The following code overrides GoJS focus to stop the browser from scrolling
    // the page when either the Diagram or Palette are clicked or dragged onto.

    function customFocus() {
      var x = window.scrollX || window.pageXOffset;
      var y = window.scrollY || window.pageYOffset;
      go.Diagram.prototype.doFocus.call(this);
      window.scrollTo(x, y);
    }

    myDiagram.doFocus = customFocus;
    myPalette.doFocus = customFocus;


  } // end init

  // Make all ports on a node visible when the mouse is over the node
  function showPorts(node, show) {
    var diagram = node.diagram;
    if (!diagram || diagram.isReadOnly || !diagram.allowLink) return;
    node.ports.each(function(port) {
        port.stroke = (show ? "white" : null);
      });
  }


  // Show the diagram's model in JSON format that the user may edit
  function save() {
    document.getElementById("mySavedModel").value = myDiagram.model.toJson();
    myDiagram.isModified = false;
  }
  function load() {
    myDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);
  }

  // add an SVG rendering of the diagram at the end of this page
  function makeSVG() {
    var svg = myDiagram.makeSvg({
        scale: 0.5
      });
    svg.style.border = "1px solid black";
    obj = document.getElementById("SVGArea");
    obj.appendChild(svg);
    if (obj.children.length > 0) {
      obj.replaceChild(svg, obj.children[0]);
    }
  }

init();


  </script>
  