
<style>
  table, th, td {
    border:1px solid black;
    color: black;
  }
</style>
<div class="row">  
    <div class="col-md-12 col-sm-12 ">
      <div class="x_panel">
        <div class="x_title">
          <p style="width: 100%; color: black; overflow-wrap: break-word; font-size: 20px;"><a href="{{ url_for('literature_review') }}" class="btn btn-info btn-sms" style="font-size: 12px"><i class="fa fa-arrow-left"></i> Back</a><br>{{ title }} : {{ output['data'][1] }}</p>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  
      <div class="container bootdey">
        <div class="email-app">
            {% include 'pages/literature_review/menu.html' %}
            <main>
                <h2 style="color: black;">Writing Research
                  <button id="output_generate_research" style="float:right" class="btn btn-success btn-sm">Generate Text From Research</button>
                  <button id="output_save_research" style="float:right" class="btn btn-info btn-sm">Save Research Result</button>
                  {% if(output['bibtex'])%}
                  <a href="{{ output['bibtex'] }}" target="_blank"><button id="output_save_research" style="float:right" class="btn btn-warning btn-sm">Download Bibtex</button></a>
                  {% endif %}
                </h2><br>
                <input type="hidden" class="form-control" id="input_research_id" value="{{ id }}">
                {{ ckeditor.load() }}
                {{ ckeditor.create(name="text", value=output['data'][8]) }}
                {{ ckeditor.config(name='text') }}
            </main>
        </div>
      </div>
      </div>
      <!-- XPANEL -->
    </div>
    <!-- COL-12 -->
  </div>
  <!-- ROW -->
  