
<style>
  table, th, td {
    border:1px solid black;
    color: black;
    font-size:12px;
  }
</style>
<div class="row">  
    <div class="col-md-12 col-sm-12 ">
      <div class="x_panel">
        <div class="x_title">
          <p style="width: 100%; color: black; overflow-wrap: break-word; font-size: 20px;"><a href="{{ url_for('literature_review_io', id=id) }}" class="btn btn-info btn-sms" style="font-size: 12px"><i class="fa fa-arrow-left"></i> Back</a></p>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  
      <div class="container bootdey">
        <div class="email-app">
            <main style="color:black">
                  {% if(output['bibtex'])%}
                  <a href="{{ output['bibtex'] }}" target="_blank"><button id="output_save_research" style="float:right" class="btn btn-warning btn-sm">Download Bibtex</button></a>
                  {% endif %}
                  {% if(output['bibtex'])%}
                  <a href="{{ output['zip'] }}" target="_blank"><button id="output_save_research" style="float:right" class="btn btn-success btn-sm">Download Zip</button></a>
                  {% endif %}
                {{ output['html'] }}
            </main>
        </div>
      </div>
      </div>
      <!-- XPANEL -->
    </div>
    <!-- COL-12 -->
  </div>
  <!-- ROW -->
  