
<div class="row">  
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <p style="width: 100%; color: black; overflow-wrap: break-word; font-size: 20px;"><a href="{{ url_for('literature_review') }}" class="btn btn-info btn-sms" style="font-size: 12px"><i class="fa fa-arrow-left"></i> Back</a><br>{{ title }} : {{ output['data'][1] }}</p>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="container bootdey">
      <div class="email-app">
          {% include 'pages/literature_review/menu.html' %}
          <main class="inbox">
              <!-- <h2 class="text-center" style="color: black;">Literature Review</h2> -->
              <nav class="nav nav-tabs">
                <a class="nav-link active" href="{{ url_for('literature_review_lr_related', id=id) }}">Selected Paper Review ({{output['relevant']}})</a>
                <a class="nav-link" href="{{ url_for('literature_review_lr', id=id) }}">Uncategory Paper ({{ output['total_papers'] }})</a>
                <a class="nav-link" href="{{ url_for('literature_review_lr_unrelated', id=id) }}">Unrelated Paper ({{output['unrelevant']}})</a>
                <a class="nav-link" href="{{ url_for('literature_review_lr_eliminated', id=id) }}">Eliminated Paper ({{output['eliminated']}})</a>
              </nav>
              <input type="hidden" class="form-control" id="input_research_id" value="{{ id }}">

              <ul class="messages">
                {% for paper in output['papers'] %}
                <li class="message" style="color:black">
                        <div class="header">
                            <span class="from"><strong>{{ paper[2] }}</strong></span>
                            <span class="date">
                            <input type="hidden" name="slr_id" class="form-control slr_id" id="slr_id" value="{{ paper[0] }}">
                            <span class="fa fa-paper-clip"></span> <button class="btn-warning unrelated">Change to Unrelated</button></span>
                        </div>
                        <div class="title">
                          {{ paper[6] }} | {{ paper[4] }}
                        </div>
                        <div class="description">
                            {{ paper[10] }}
                        </div>
                        <div class="title">{{ paper[7] }} | {{ paper[7] }} | {{ paper[5] }}</div>
                        <div class="title">
                          <a target="_blank" href="{{ paper[3] }}" style="color:blue">Source Article</a> | <a style="color:blue" target="_blank" href="https://sci-hub.se/{{ paper[9] }}">Scihub Link</a><br>
                      </div>
                      <div>
                        <p>Keyword</p>
                        <input type="text" name="paper_keyword" class="form-control paper_keyword" id="paper_keyword" value="{{ paper[16] if(paper[16] is not none) else '' }}">
                        <br><p>Resume</p>
                        <textarea id="w3review" cols="200" rows="8" style="width:100%">{{ paper[15] if(paper[15] is not none) else output['data'][14] }}</textarea>
                        <br><button class="btn-success save-review" style="margin-top: 5px;">Save Review</button>&nbsp;<button class="btn-danger eliminate-review" style="margin-top: 5px;">I Think This Paper Is Not Relevant After Full Reading</button> 
                      </div> 
                </li>
                {% endfor %}
              </ul>
          </main>
      </div>
    </div>
    </div>
    <!-- XPANEL -->
  </div>
  <!-- COL-12 -->
</div>
<!-- ROW -->


